@function rem($px) {
    //$px为需要转换的大小
    @return $px / 75px * 1rem; // 108为移动端的分辨率
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: rem(88px);
    background: -webkit-linear-gradient(left, #03abff, #0387ff);
    font-size: rem(36px);
    line-height: rem(88px);
    text-align: center;
    color: #fff;
    font-weight: 700;
}

section {
    padding-top: rem(88px);

    nav {
        a {
            display: flex;
            justify-content: space-between; // width: rem(312.5px); 
            width: 41.6666666666667%;
            height: rem(78px);
            float: left;
            padding: rem(48px) rem(30px);
            border-right: rem(1px) solid #f2f2f2;
            border-bottom: rem(1px) solid #f2f2f2;

            >div {
                h2 {
                    font-size: rem(34px);
                    margin-bottom: rem(20px);
                }

                p {
                    color: #999;
                    font-size: rem(24px);
                }
            }


            img {
                width: rem(90px);
                height: rem(90px);
            }

            &:first-child {
                display: block;
                height: rem(300px);
                padding: rem(48px) rem(30px) 0 rem(30px);
                color: #ff9700;

                h2 {
                    font-size: rem(34px);
                    margin-bottom: rem(24px);
                }

                p {
                    color: #999;
                    font-size: rem(24px);
                }

                img {
                    width: rem(150px);
                    height: rem(150px);
                    margin: rem(18px) rem(52px) 0;
                }
            }

            &:nth-child(2) {
                color: #f5785d;
            }

            &:nth-child(3) {
                color: #1Ba9e1;
            }
            &:nth-child(4) {
                color: #ed6660;
            }
            &:last-child {
                color: #a2cf26;
            }
        }
    }

    .ad {
        clear: both;
        padding: rem(20px) 0;
        background: #eee;

        img {
            width: 100%;
            height: rem(175px);
        }
    }

    >section {

        .header {
            height: rem(84px);
            padding: rem(30px) rem(20px);
            text-align: center;

            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #333;
                font-size: rem(36px);

                div:first-of-type {
                    position: relative;
                    width: rem(46px);
                    height: rem(12px);
                    text-align: center;

                    span:first-child {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        display: inline-block;
                        width: rem(40px);
                        height: 0;
                        border-top: rem(2px) solid #333;
                    }
                    span:last-child {
                        position: absolute;
                        top: 0;
                        left: rem(40px);
                        display: inline-block;
                        width: rem(12px);
                        height: rem(12px);
                        border-radius: 50%;
                        background: #333;
                    }
                }

                div:last-of-type {
                    position: relative;
                    width: rem(46px);
                    height: rem(12px);
                    text-align: center;
                    margin-left: rem(10px);

                    span:first-child {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        display: inline-block;
                        width: rem(40px);
                        height: 0;
                        border-top: rem(2px) solid #333;
                    }
                    span:last-child {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: inline-block;
                        width: rem(12px);
                        height: rem(12px);
                        border-radius: 50%;
                        background: #333;
                    }
                }


                i {
                    font-size: rem(32px);
                    color: #f12c2c;
                    margin-right: rem(10px);
                    margin-left: rem(15px);
                }
            }

            p {
                color: #999;
                font-size: rem(24px);
                margin-top: rem(16px);
            }
        }

        .section {
            padding: 0 rem(20px);

            >div {
                display: flex;
                justify-content: space-between;

                >a {
                    position: relative;
                    display: block;
                    flex: 1;
                    font-size: rem(22px);

                    img {
                        width: rem(222px);
                        margin-bottom: rem(18px);
                    }

                    p:first-of-type {
                        color: #333;
                        margin-bottom: rem(34px);
                    }

                    p:last-of-type {
                        color: #f94843;

                        span {
                            margin-left: rem(12px);
                            color: #999;
                            text-decoration: line-through;
                        }
                    }

                    >span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        padding: rem(10px) rem(12px);
                        background: #5c5c5c;
                        font-size: rem(24px);
                        color: #fff;
                    }
                }
            }

            >a {
                clear: both;
                display: block;
                padding: rem(30px) 0;
                font-size: rem(26px);
                color: #999;
                text-align: center;
            }
        }

        .tiao {
            padding: 0 rem(30px);
            height: rem(20px);
            background: #eee;
        }
    }

    .di {
        height: rem(100px);
        background: #eee;
    }
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: rem(100px);
    font-size: rem(22px);
    background: #FFF;

    >a {
        flex: 1;
        display: block;
        color: #aaa;
        text-align: center;

        .iconfont {
            font-size: rem(42px);
        }

        p {
            margin-top: rem(10px);
        }
    }

    .choose {
        color: #009FFF;
    }
}