header {
  padding: 1.06667rem 0;
  text-align: center;
}

section {
  width: 8rem;
  margin: 0 auto;
}

section > div {
  text-align: center;
}

section > div a {
  display: inline-block;
  padding-bottom: 0.05333rem;
  font-size: 0.37333rem;
  font-weight: 700;
  color: #333;
  line-height: 0.42667rem;
}

section > div a:first-child {
  margin-right: 1.06667rem;
}

section > div .choose {
  color: #2395ff;
  border-bottom: 0.05333rem solid #2395ff;
}

section > form {
  margin-top: 0.42667rem;
}

section > form > div {
  position: relative;
  width: 100%;
  height: 1.28rem;
  margin-bottom: 0.42667rem;
}

section > form > div input {
  font-size: 0.37333rem;
  width: 100%;
  height: 100%;
  left: 0;
  padding-left: 0.26667rem;
  border: 0.02667rem solid #ddd;
  border-radius: 0.10667rem;
  color: #333;
}

section > form > div button {
  position: absolute;
  top: 0.37333rem;
  right: 0.26667rem;
  font-size: 0.37333rem;
  border: none;
  outline: none;
  color: #ccc;
  background: transparent;
}

section > form > p {
  margin-top: -0.10667rem;
  color: #999;
  font-size: 0.37333rem;
  line-height: 0.53333rem;
}

section > form > p > a {
  color: #2395ff;
}

section > form > button {
  margin-top: 0.8rem;
  width: 100%;
  height: 1.12rem;
  border-radius: 0.10667rem;
  background: #4cd96f;
  color: #fff;
  font-size: 0.42667rem;
  text-align: center;
  line-height: 1.12rem;
  outline: none;
  border: none;
}

section > form:nth-of-type(2) {
  display: none;
}

section > a {
  display: inline-block;
  margin-top: 0.53333rem;
  width: 100%;
  height: 0.37333rem;
  text-align: center;
  color: #999;
}
